@model Clinic_Management_System.Models.ScientificCategory

@{
    Layout = "~/Views/Shared/_Seller.cshtml";
}



<h1>AddSciCategory</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddSciCategory">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="SciCatName" class="control-label"></label>
                <input asp-for="SciCatName" class="form-control" />
                <span asp-validation-for="SciCatName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

