@model Clinic_Management_System.Models.AddMedViewModel

@{
    Layout = "~/Views/Shared/_Seller.cshtml";
}

<h1>UpdateMedCategory</h1>

<h4>MedicinesCategory</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="UpdateMedCategory" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <input type="hidden" asp-for="SelectedCategory.MedCatId" />

            <div class="form-group">
                <label asp-for="SelectedCategory.MedCatName" class="control-label"></label>
                <input asp-for="SelectedCategory.MedCatName" class="form-control" />
                <span asp-validation-for="SelectedCategory.MedCatName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
